.comments {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
  color: var(--color-grey-50);

}

.comments button {
  font: inherit;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  background-color: var(--color-grey-50);
  color:rgba(32, 33, 36, 1.00);
  border: 1px solid rgba(32, 33, 36, 1.00);
  cursor: pointer;
}

.comments button:hover,
.comments button:active {
  opacity: 75%;
}