.contact {
    margin: 3rem auto;
    width: 90%;
    max-width: 20rem;
    text-align: center;
  }
  
  .contact a {
    color: var(--color-grey-100);
    font-size: var(--size-4);
  }
  
  .contact a:hover,
  .contact a:active,
  .contact a.active {
    color: var(--color-grey-200);
  }
  
