.contact {
    margin: 3rem auto;
    width: 90%;
    max-width: 40rem;
    text-align: center;
}

.form {
  margin: 2rem auto;
  width: 100%;
  border-radius: 6px;
  background-color: var(--color-grey-100);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 75%;
}

.row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.control {
  margin-bottom: 0.5rem;
  flex: 1;
  min-width: 10rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: black;
  text-align: left;
}

.control input,
.control textarea {
  font: inherit;
  padding: 0.25rem;
  border-radius: 4px;
  border: 1px solid white;
  width: 100%;
  background-color: white;
}

.form button {
  background-color: white;
  color: black;
  
}



.fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  
}

.fileInputLabel {
  display: block; 
  cursor: pointer;
  background-color: white;
  border: 1px solid #000000;
  border-radius: 6px;
  color: black; 
  padding: 0.5rem 1.5rem;
  text-align: center; 
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  margin: 0 auto; 
  width: 100%; 
  line-height: normal; 
}


.fileInputLabel:hover,
.fileInputLabel:active {
  background-color: #343333;
  border-color: #343333;
}

