.contact {
  margin: 1rem auto;
  width: 90%;
  max-width: 20rem;
  text-align: center;
}

.form {
  margin: 2rem auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: white;
  border-radius: 6px;
  width: 100%;
  max-width: 40rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}

.contact h2 {
  text-align: center;
}

.controls {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.contact button {
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 6px;
  color: whitesmoke;
  font: inherit;
  cursor: pointer;
}

.contact button:hover,
.contact button:active {
  background-color: #343333;
  border-color: #343333;
}

.contact button:disabled {
  background-color: #757575; 
  border-color: #757575;
  color: #d0d0d0; 
  cursor: not-allowed;
}

.control {
  flex: 1;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.contact input,
.contact textarea {
  flex: 1;
  font-size: 16px;
}

.fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fileInputLabel {
  display: block;
  cursor: pointer;
  background-color: white;
  border: 1px solid #000000;
  border-radius: 6px;
  color: black;
  padding: 0.5rem 1.5rem;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  width: 100%;
  line-height: normal;
}

.form Button {
  padding: 0.5rem 1.5cqh;
}
