.btn {
  width: 100%;
  font: inherit;
  padding: 0.25rem 0.5rem;
  background-color: #000000;
  border: 1px solid #000000;
  color: ivory; 
  border-radius: 4px;
  text-decoration: none;
}

.btn:hover,
.btn:active {
  background-color: #1d1c1c;
  border-color: #1d1c1c;
  text-decoration: none;
}



.link {
  background-color: #252525;
  border: 1px solid #252525;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  color: var(--color-grey-50);
  font: inherit;
  cursor: pointer;
}

.link:hover,
.link:active {
  background-color: #000000;
  border-color: #000000;
  color: grey;
}