.body img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.body p, .body time {
  color: var(--color-grey-50);
}


@media (min-width: 768px) {
  .body {
    margin: var(--size-8) 0;
    flex-direction: row;
    align-items: flex-end;
  }

}
